section {
  padding: 0 15px;
}

.info {
  width: 550px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  border-radius: 10px;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
  border-right: 2px solid var(--black);
}

.nav-link img {
  width: 90px;
}

.tab-pane p {
  font-weight: bold;
  color: var(--white);
  font-size: 32px;
  margin: 0;
}

input[type=text] {
  width: 500px;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 3px solid var(--light-gray);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid var(--dark-gray);
}

.error {
  border: 3px solid var(--error-red) !important;
}

#confirm {
  margin: 20px 0 0 0;
  cursor: pointer;
  color: var(--white);
  font-size: 55px;
}

#confirm:hover {
  transform: scale(1.1)
}

@media (max-width:510px) {
  .nav-link img {
    width: 50px;
  }
  
  input[type=text] {
    width: 340px;
  }

  .tab-pane p {
    font-size: 24px;
  }
}