html,body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top {
  height: 10%;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.name {
  height: 5%;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.name div {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.score {
  width: 25%;
}

#timer {
  width: 50%;
}

.info {
  height: 15%;
  display: flex;
}

.picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  width: 100px;
}

.chess-board {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table td {
  border: 1px solid var(--white);
  width: var(--board-width);
  height: var(--board-height);
}

.chess {
  width: var(--board-width);
  height: var(--board-height);
  transform-style: preserve-3d;
  transform: rotateX(180deg);
  transition: transform .5s;
  position: relative;
}

.front {
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}

.back {
  width: 100%;
  height: 100%;
  background-image: url('../images/back.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}

.open, .foresee, .perspective {
  transform: rotateX(0deg);
}

.perspective.open,
.perspective.foresee {
  background-color: var(--action-white);
}

.action {
  background-color: var(--action-white);
}

.disabled {
  pointer-events: none;
}

.activated {
  filter: grayscale(1);
  pointer-events: none;
}

.disappear {
  display: none;
}

#skill,#rule {
  width: 50px;
  cursor: pointer;
}

.rule {
  width: 85%;
}

.over {
  width: 90px;
}

.draw {
  font-size: 50px;
  margin-top: 30px;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.speech-bubble img,
.win-message img {
  width: 100px;
}

.speech-bubble div {
  position: relative;
  border: 2px solid var(--dark-gray);
  color: var(--dark-gray);
  font-weight: bold;
  padding: 10px;
  font-size: 22px;
  margin-bottom: 25px;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.speech-bubble div::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--dark-gray);
}

.win-message div {
  position: relative;
}

.win-message div::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--dark-gray);
}

.swal2-input {
  margin: 0;
  width: 80%;
  border-color: var(--dark-gray);
  margin: 20px 0;
}

.skill-info {
  font-size: 22px;
  font-weight: bold;
}

.skill-name {
  font-size: 70px;
  font-weight: bold;
}

@media (max-width: 780px) {
  .chess-board {
    position: relative;
  }

  #board {
    position: absolute;
    top: 0;
    padding: 15px 0;
  }

  .chess {
    transform: rotateX(180deg);
    width: var(--mobile-board-width);
    height: var(--mobile-board-height);
  }

  .open, .foresee, .perspective {
    transform: rotateX(0deg);
  }

  .top {
    height: 8%;
    font-size: 30px;
  }

  #skill,#rule {
    width: 40px;
  }

  .name {
    font-size: 25px;
  }

  .picture img {
    width: 60px;
  }

  .info {
    height: 10%;
  }

  .skill-name {
    font-size: 50px;
  }

  .chess-board {
    height: 77%;
  }

  table td {
    width: var(--mobile-board-width);
    height: var(--mobile-board-height);
  }
}